:root {
  --primary-color: #1C8ECA;
  --secondary-color: #4BA1D2;
  --accent1-color: #FFC06A;
  --accent2-color: #788BAA;
  --heading-font: "Noto Serif", serif;
  --body-font: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

nav a,
section, article {
  margin: 16px;
  padding: 8px;
  text-decoration: none;
  color: var(--secondary-color);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255,255,255,0.8);
  padding: 12px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 8px;
}

.socialmedia a {
  text-decoration: none;
  margin: 0 8px;
}

.socialmedia img {
  width: 24px;
  height: auto;
}
